<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Login - StockVision</title>
</head>

<body>
  <main>
    <form id="loginForm">
      <input name="username" placeholder="username" required />
      <input name="password" type="password" placeholder="password" required />
      <button type="submit">Login</button>
    </form>
    <div id="loginError" style="color: red;"></div>
  </main>
  <script src="/static/js/login.js"></script>
</body>

</html>